.sidebar {
  padding-left: 20px;
  padding-top: 100px ;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 81, 0.75);
  position: fixed;
  top: 0;
  left: -50%;
  transition: left 0.5s ease-in-out;
}

.sidebar a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(255, 189, 0);
  z-index: 100;
}

.sidebar a:hover {
  color: rgb(0, 0, 81);
  background-color: rgb(255, 189, 0);
  transition: 0.3s;
}

#toggle-checkbox {
  display: none;
}

#toggle-label {
  margin: 0;
  cursor: pointer;
  z-index: 2;
  color: #fff;
  user-select: none;
}

#toggle-label::before {
  z-index: 1;
}

#toggle-checkbox:checked ~ .sidebar {
  left: 0;
}

